body{ 
    margin:0;
    background-color: #404040;
    text-align: center;
}
button {
    width: 100px;
    height: 100px;
    font-size: 15px;
    font-weight: bold;
    background-color: #ff0000;
    color: black;
}
button:hover{
    width: 100px;
    height: 100px;
    font-size: 15px;
    font-weight: bold;
    background-color: #990000;
    color: rgb(192, 192, 192);
}
table {
    border: 1px solid #404040;
    background-color: #404040;
    height: 300px;
    width: 300px;
    border-collapse: collapse;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    gap: 25px;
}
td {
    text-align: center;
    vertical-align: middle;
}
h1{
    color: rgb(192, 192, 192);
    font-size: 40px;
}
p{
    color: rgb(192, 192, 192);
    font-size: 20px;
}
.lotOfText button{
    height: 150px;
    width: 150px;
}
.lotOfText button:hover{
    height: 150px;
    width: 150px;
}
.lotOfText{
    display: flex;
    justify-content: center;
}