body{
    background-color: #404040;
}
button {
    width: 150px;
    height: 150px;
    font-size: 40px;
    font-weight: bold;
    background-color: #ff0000;
    color: black;
}
button:hover{
    width: 150px;
    height: 150px;
    font-size: 40px;
    font-weight: bold;
    background-color: #990000;
    color: rgb(192, 192, 192);
}